In [1]:
#Maria Seneca

#Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import seaborn as sns

# Census API Key
from config import api_key

c = Census(api_key, year=2016)

In [3]:
zipcodes_df = pd.read_csv("Input/chicago.csv")

zipcodes_df.head()

           Region  Zipcode
0  Archer Heights    60632
1       Montclare    60634
2     Edison Park    60631
3       West Lawn    60629
4      North Park    60625